@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body{
    overflow: auto;
    scrollbar-width: none;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar{
    display: none;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
    text-decoration: none;
}

.logo{
    height: 50px;
    width:  50px;
}

.maroon{
    color: #800000 !important;
}

.footer{
    height: 5vh;
    width:  100vw;
}

.bg-maroon{
    background-color: #800000 !important;
}

.bd-maroon{
    border-color: #800000 !important;
}

.navbar{
    min-height: 10vh;
    width:  100vw;
}

.bg{
    background-position: center;
    background-size: cover;
    font-size: 2rem;
}


.bg-overlay{
    background-color: rgba(0, 0, 0, 0.5);
}

header{
    background-color: #800000;
}

h1{
    font-family:'Lato', sans-serif;
    color: white;
    user-select: none;
}

.en:hover{
    background-color:#800000 !important;
}

.clear{
    text-decoration: none;
}

.wrapper{
}

.divider{ 
    opacity: 100%;
    border-radius: 10px;
}

.patt{
    margin-top: 6vh;
    margin-bottom: 6vh;
}

.content{
    height: 85vh;
    width: 100vw;
}




